        <div class="modal-header">
          <h5 class="modal-title" id="removeParticipantModalLabel">إزالة مشارك من المشروع</h5>
          <button type="button" class="ml-4 mr-4 btn-close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <p class="text-center text-danger">هل أنت متأكد من أنك تريد إزالة السيد {{participant.employee.personalInfo | fullname}} من قائمة المشاركين في المشروع</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
          <button type="button" class="btn btn-danger" (click)="onConfirmRemove()">إزالة</button>
        </div>
  