
    <div class="modal-header">
      <h5 class="modal-title" id="moveToplanModalLabel">الانتقال إلى مرحلة التخطيط</h5>
      <button type="button" class="ml-4 mr-4 btn-close" (click)="onClose()" ></button>
    </div>
    <div class="modal-body">
         <div *ngIf="!canMoveToProgress">
    
          {{errMessage}}
        </div>
    <div  *ngIf="canMoveToProgress">
        <p>هل أنت متأكد من أنك تريد الانتقال إلى مرحلة التنفيذ </p>
     </div>
   
    </div>    
         <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()" >إلغاء</button>
      <button [disabled]="!canMoveToProgress" type="button" class="btn btn-danger" (click)="onSubmit()">الانتقال</button>
    </div>
