<div class="card shadow mb-4 col-8 offset-2">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="profile-posts.html" class="avatar avatar-md">
            <img src="./assets/images/users/4.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
        <div class="col ml-n2">
          <strong class="mb-1">{{step.stepInfo.stepName}}</strong><span class=" ml-1"></span>
          <p class="small text-muted mb-1">{{step.stepInfo.description}}</p>
        </div>
        <div class="col-auto">
        </div>
      </div>
    </div>
    <div class="card-body ">
      <div class="row align-items-center">
        <div class="col-8 ">
          <div class="small mb-2 d-flex">
            <span class="text-muted mr-4 ">نسبة الانجاز {{step.currentCompletionRatio}}</span>
            <span class="text-muted mr-4 ">الثقل {{step.weight}}</span>
            <span class="text-muted mr-4 ">عدد العمال المطلوب {{step.stepInfo.numberOfWorker}}</span>
          
          
          </div>
        </div>
        <div  class="col-8 ">
          <div class="small mb-2 d-flex">
       
          <span class="text-muted flex-fill">تاريخ البدء  {{step.stepInfo.startDate | date}}</span>
          
          <span class="text-muted">المدة   {{step.stepInfo.duration}} </span>
          
          </div>
          
        <div class="col-auto">
          <button type="button" [routerLink]="['/tracks/history/step/',step.id]" class="btn mr-2 btn-sm btn-primary">استعراض تاريخ  متابعتها </button>
          <button type="button" class="btn mr-2 btn-sm btn-secondary">تعديل الثقل</button>
          <button type="button" class="btn mr-2 btn-sm btn-secondary">تعديل المعلومات</button>
          
          <button type="button"  (click)="onDelete()"  class="btn mr2 btn-sm btn-danger">إزالة</button>
       
        </div>
        </div>
      </div>
    </div> <!-- / .card-body -->
  </div>