<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="profile-posts.html" class="avatar avatar-md">
            <img src="./assets/images/users/4.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
        <div class="col ml-n2">
          <strong class="mb-1">{{employeeParticipate.partialTimeRatio}}</strong><span class="dot dot-lg bg-success ml-1"></span>
          <p class="small text-muted mb-1">Fringilla Ornare Placerat Consulting</p>
        </div>
        <div class="col-auto">
          <span class="m-1"><i class="fe fe-facebook fe-12 text-muted"></i></span>
          <span class="m-1"><i class="fe fe-twitter fe-12 text-muted"></i></span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <div class="small mb-2 d-flex">
            <span class="text-muted flex-fill">Progress</span>
            <span class="text-muted">68</span>
          </div>
          <div class="progress" style="height: 2px;">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-sm btn-primary">Message</button>
          <button type="button" class="btn btn-sm btn-secondary">Profile</button>
        </div>
      </div>
    </div> <!-- / .card-body -->
  </div>