<h1 mat-dialog-title>Add Step</h1>
<div mat-dialog-content>
  <form [formGroup]="stepForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="stepForm.get('name')!.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="stepForm.get('description')!.hasError('required')">Description is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input matInput type="number" formControlName="weight">
      <mat-error *ngIf="stepForm.get('weight')!.hasError('required')">Weight is required</mat-error>
      <mat-error *ngIf="stepForm.get('weight')!.hasError('min') || stepForm.get('weight')!.hasError('max')">
        Weight must be between 1 and 100
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="stepForm.invalid">Add Step</button>
</div>
