<section  *ngIf="tracks" class="row">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                <h2 class="h3 mb-0 page-title">  قائمة عمليات المتابعة </h2>
                </div>
            <div class="col-auto">
              <input  type="date" [(ngModel)]="month" placeholder="اختر شهر" /> 
              <button class="btn btn-primary" (click)="onFilter()">حسب الشهر </button>
           </div>
   </div>
<hr>


    <!-- <track-item class=" offset-2" 
      *ngFor="let track of tracks" 
      [track]="track"
      (delete)="openModal('delete', track)"
      
    ></track-item> -->

    <div *ngIf="tracks.length==0">
        للأسف هذا المروع لايحوي على أية مراحل
    </div>
    </div>
    </div>
</section>

