<section  *ngIf="stepTrackHistory" class="row">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                <h3 class="h3 mb-0 page-title">  قائمة عمليات المتابعة للمرحلة : {{step.stepInfo.stepName}} </h3>
                </div>
            <div class="col-auto">
            <button type="button"     [routerLink]="['/reports/history',step.projectId,'step',step.id]"   class="btn btn-secondary"><span class="fe fe-file-plus fe-12 mr-2"></span>تقرير تاريخ متابعة </button>
        </div>
   </div>
<hr>
<step-history-item
*ngFor="let stepTrack of stepTrackHistory"
[stepTrack]="stepTrack" 
>
</step-history-item>

    <div *ngIf="stepTrackHistory.length==0">
  لم تتم متابعة هذه المرحلة من قبل
  </div>
    </div>
    </div>
</section>


