<section  *ngIf="types" class="row">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                <h2 class="h3 mb-0 page-title">  قائمة أنواع المشاريع </h2>
                </div>
            <div class="col-auto">
            <button   [disabled]="!canEdit()"  type="button" [routerLink]="['/types/create']" class="btn btn-primary"><span class="fe fe-file-plus fe-12 mr-2"></span>إضافة عنصر </button>
        </div>
   </div>
<hr>


  <type-item class=" offset-2" 
    *ngFor="let item of types" 
    [item]="item"
    (edit)="openEditModal(item)"
    (delete)="openDeleteModal(item)"
  >
  </type-item>

  <div *ngIf="types.length==0" class="text-center text-primary">
    <strong>

         للأسف حاليا لايوجد أنواع مشاريع
    
    
        </strong>
    </div>
    </div>
    </div>
</section>
