<div class="card shadow mb-4">
    <div class="card-body text-center">
      <div class="avatar avatar-lg mt-4">
        <a href="">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
        </a>
      </div>
      <div class="card-text my-2">
        
        <p-skeleton width="80%" styleClass="mb-2" />

        <p-skeleton width="50%" styleClass="mb-2" />

        <p-skeleton width="50%" styleClass="mb-2" />
          </div>
    </div> <!-- ./card-text -->
    <div class="card-footer">
      <div class="row align-items-center justify-content-between">
        <div class="col  text-center">
          <small>
       
            <p-skeleton width="40%" styleClass="mb-2" />   </small>
        </div>
      
        <div class="col  text-center">
          <small>
         
            <p-skeleton width="40%" styleClass="mb-2" /> </small>
        </div>

      
      </div>
    </div> <!-- /.card-footer -->
  </div>