<form (ngSubmit)="saveType()">
    <div class="row">

        <div class="mb-3 col-5  offset-1">
          <label for="employee" class="form-label">عدد العمال المطلوب لهذا النوع  </label>
          <input type="number" name="employee" id="employee" class="form-control"[min]="0"  [(ngModel)]="selectedItem.expectedNumberOfWorker" required>
        </div>
        <div class="mb-3 col-5 ">
          <label for="efort" class="form-label">الجهد لهذا النوع من المشاريع</label>
          <input  id="efort" class="form-control" [(ngModel)]="selectedItem.expectedEffort" [min]="0" name="efort" required>
        </div>
    
        <div class="mb-3 col-9 offset-1">
          <label for="typeDescription" class="form-label">وصف هذا النوع</label>
          <textarea  id="typeDescription" class="form-control" [cols]="3" [(ngModel)]="selectedItem.description" name="typeDescription" required>
            </textarea>

        </div>

    </div>
    <button type="submit" class="btn btn-success">حفظ</button>
</form>
