<div class="modal  fade" id="addStepTrackModal" tabindex="-1" aria-labelledby="addStepTrackModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStepTrackModalLabel">Add Step Track</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stepTrackForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="stepName" class="form-label">Step Name</label>
            <input type="text" id="stepName" formControlName="stepName" class="form-control" [ngbTypeahead]="search" (selectItem)="onStepSelected($event.item)">
          </div>
          <div class="mb-3">
            <label for="executionState" class="form-label">Execution State</label>
            <input type="text" id="executionState" formControlName="executionState" class="form-control">
          </div>
          
          <div class="mb-3">
            <label for="trackExecutionRatio" class="form-label">Track Execution Ratio</label>
            <input type="number" id="trackExecutionRatio" formControlName="trackExecutionRatio" class="form-control" min="0" max="100">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!stepTrackForm.valid">Add Step Track</button>
        </form>
      </div>
    </div>
  </div>
</div>
