  <!-- ======= Sidebar ======= -->
  <aside dir="rtl" id="sidebar" class="sidebar" [class.toggled]="isToggled">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="fe fe-grid"></i>
          <span>الصفحة الرئيسية</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">المتابعة</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="fe fe-menu"></i><span>إدارة المتابعة</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="fe fe-circle"></i><span>متابعة مشروع</span>
            </a>
          </li>
          <li>
            <a href="components-alerts.html">
              <i class="fe fe-circle"></i><span>اتمام عملية متابعة</span>
            </a>
          </li>
        </ul>

      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed " href="components-alerts.html">
          <i class="fe fe-flag"></i><span> عمليات المتابعة</span>
        </a>
      </li>
      <li class="nav-heading">التقارير</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Reports-nav" data-bs-toggle="collapse" href="#">
          <i class="fe fe-printer"></i><span>إصدار تقرير</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="fe fe-circle"></i><span>تقرير متابعة</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="fe fe-circle"></i><span> تقرير انجاز</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="fe fe-circle"></i><span>تقرير انشغالية</span>
            </a>
          </li>
        </ul>

      </li><!-- End Components Nav -->
      <li class="nav-heading">الجهات الطارحة</li>
      <li class="nav-item">
        <a  [routerLink]="['customers']" class="nav-link collapsed ">
          <i class="fe fe-map"></i><span> استعراض الجهات الطارحة</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/customers/create']" class="nav-link collapsed " >
          <i class="fe fe-edit-2"></i><span>إضافة جهة طارحة</span>
        </a>
      </li>
      <li class="nav-heading">إدارة المشاريع</li>

          <li class="nav-item">
            <a [routerLink]="['/projects/create']" class="nav-link collapsed" >
              <i class="bi bi-circle"></i><span>طرح مشروع</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/projects']" class="nav-link collapsed">
              <i class="bi bi-circle"></i><span>استعراض المشاريع</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="forms-editors.html">
              <i class="bi bi-circle"></i><span>إلغاء مشروع</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="forms-validation.html">
              <i class="bi bi-circle"></i><span>إضافة بيانات المشروع</span>
            </a>
          </li>
          <li class="nav-heading">العمل</li>
      <li  [routerLink]="['/employees/participates',id]" class="nav-item">
        <a class="nav-link collapsed" >
          <i class="bi bi-layout-text-window-reverse"></i><span>استعراض مساهماتي</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/employees/profile']">
          <i class="bi bi-layout-text-window-reverse"></i><span>ملفي الشخصي</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

      </li>
      
      <li class="nav-heading">متفرقات</li>
      <li class="nav-item">
        <a [routerLink]="['/Project-FAQ']" class="nav-link collapsed" >
          <i class="bi bi-layout-text-window-reverse"></i><span>ملامح المشروع</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        </li>
    </ul>

  </aside><!-- End Sidebar-->