<!-- ======= Sidebar ======= -->
<aside dir="rtl" id="sidebar" class="sidebar" [class.toggled]="isToggled">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fe fe-grid"></i>
        <span>الصفحة الرئيسية</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-heading" *ngIf="hasRole(alroles.SCIENTIFIC_DEPUTY)">
      المتابعة
    </li>

    <li class="nav-item" *ngIf="hasRole(alroles.SCIENTIFIC_DEPUTY)">
      <a class="nav-link collapsed" [routerLink]="['/tracks/uncompleted']">
        <i class="fe fe-airplay"></i><span>المتابعات غير المكتملة</span>
      </a>
    </li>
    <!-- End Components Nav -->
    <li class="nav-item" *ngIf="hasRole(alroles.SCIENTIFIC_DEPUTY)">
      <a class="nav-link collapsed" [routerLink]="['/tracks']">
        <i class="fe fe-flag"></i><span> عمليات المتابعة</span>
      </a>
    </li>

    <li class="nav-heading">أنواع المشاريع</li>
    <li class="nav-item">
      <a [routerLink]="['/types']" class="nav-link collapsed">
        <i class="fe fe-map"></i><span> استعراض أنواع المشاريع</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="hasRole('Planner')">
      <a [routerLink]="['/types/create']" class="nav-link collapsed">
        <i class="fe fe-edit-2"></i><span>إضافة نوع جديد</span>
      </a>
    </li>

    <li class="nav-heading">الجهات الطارحة</li>
    <li class="nav-item">
      <a [routerLink]="['customers']" class="nav-link collapsed">
        <i class="fe fe-map"></i><span> استعراض الجهات الطارحة</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        *ngIf="hasRole('Planner')"
        [routerLink]="['/customers/create']"
        class="nav-link collapsed"
      >
        <i class="fe fe-edit-2"></i><span>إضافة جهة طارحة</span>
      </a>
    </li>

    <li class="nav-heading">إدارة المشاريع</li>

    <li class="nav-item"       *ngIf="hasRole(alroles.SCIENTIFIC_DEPUTY)">

      <a [routerLink]="['/projects/create']" class="nav-link collapsed">
        <i class="fe fe-plus"></i><span>طرح مشروع</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="hasRole(alroles.SCIENTIFIC_DEPUTY)">
      <a
        [routerLink]="['/projects']"
      
        class="nav-link collapsed"
      >
        <i class="fe fe-clipboard"></i><span>استعراض المشاريع</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/byCriterion']"
        [queryParams]="{ listType: 'managed' }"
        class="nav-link collapsed"
      >
        <i class="fe  fe-briefcase"></i><span>المشاريع التي أديرها</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/byCriterion']"
        [queryParams]="{ listType: 'leaded' }"
        class="nav-link collapsed"
      >
        <i class=" fe fe-briefcase"></i><span>المشاريع التي أرأسها</span>
      </a>
    </li>

    <li class="nav-heading">العمل</li>

    <li [routerLink]="['/employees/participates', id]" class="nav-item">
      <a class="nav-link collapsed">
        <i class="fe fe-folder"></i
        ><span>استعراض مساهماتي</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/employees/profile']">
        <i class="fe fe-compass"></i><span>ملفي الشخصي</span
       >
      </a>
    </li>

    <li class="nav-heading">متفرقات</li>
    <li class="nav-item">
      <a [routerLink]="['/Project-FAQ']" class="nav-link collapsed">
        <i class="fe fe-target"></i
        ><span>ملامح المشروع</span>
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/Help']" class="nav-link collapsed">
        <i class="fe fe-codepen"></i><span>مساعدة</span
        >
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
