<div class="card shadow mb-4 col-8 offset-2">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="profile-posts.html" class="avatar avatar-md">
            <img src="./assets/images/users/4.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
        <div class="col ml-n2">
          <strong class="mb-1">{{item.typeName}}</strong><span class=" ml-1"></span>
        </div>
        <div class="col-auto">
        </div>
      </div>
    </div>
    <div class="card-body ">
      <div class="row align-items-center">
        <div class="col-8 ">
          <div class="small mb-2 d-flex">
            <span class="text-muted flex-fill">وصف هذا النوع من المشاريع :  {{item.description}}</span>
          
          </div>
        </div>
        <div class="col-8 ">
          <div class="small mb-2 d-flex">
            <span class="text-muted flex-fill">عدد العمال  لهذا النوع من المشاريع :  {{item.expectedNumberOfWorker}}</span>
          
          </div>
        </div>
        
        <div  class="col-8 ">
          <div class="small mb-2 d-flex">
            <span class="text-muted">الجهد المتوقع لهذا النوع من المشاريع  {{item.expectedEffort}} ساعة عمل</span>
          
          
          </div>
          
        <div class="col-auto">
          <button type="button"  [disabled]="!canEdit()" (click)="onEdit()" class="btn m-2 btn-sm btn-secondary">تعديل المعلومات</button>
          <button type="button"  [disabled]="!canEdit()" (click)="onDelete()"class="btn m-2 btn-sm btn-danger">إزالة</button>
       
        </div>
        </div>
      </div>
    </div> <!-- / .card-body -->
  </div>