<div class="modal-header">
  <h5 class="modal-title" id="moveToplanModalLabel">اكمال المتابعة</h5>
  <button
    type="button"
    class="ml-4 mr-4 btn-close"
    (click)="onClose()"
  ></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
    <div *ngIf="!canComplete" class="row text-primary">
      {{errorMessage}}
    </div>

    <div *ngIf="canComplete">
      <p>اكمال متابعة هل أنت حقا متأكد من أنك تابعت كل العاميلن ,</p>
    </div>
    <div class="row">
      <button
        type="submit"
        [disabled]="projectForm.invalid || !canComplete"
        class="col m-4 btn btn-primary"
      >
        اكمال المتابعة
      </button>
      <div class="col m-4 btn btn-seondary" (click)="onClose()">
        إغلاق
      </div>
    </div>
  </form>
</div>
