<div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative aos-init aos-animate" data-aos="zoom-out">
    <img height="400px"  src="assets/images/home/hero-img.png" class=" animated" alt="">
    <h3>مرحبا بك  <span>في موقعنا</span></h3>
    <p class="text-important text-italic">هل تحتاج إلى مساعدة ؟ </p>
    <div class="d-flex">
      <a href="#about" class="btn-get-started mr-4 scrollto">انطلق الآن</a>
      <a  class="glightbox mr-4 btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>طريقة الاستخدام</span></a>
    </div>
  </div>