<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="profile-posts.html" class="avatar avatar-md">
            <img src="./assets/images/users/4.jpg" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
        <div class="col ml-n2 ">
          <strong class="mb-1">{{employeeParticipate.projectInfo.name}}</strong><span class=" ml-1"></span>
          <p class="small text-muted mb-1">{{employeeParticipate.projectInfo.description}}</p>
        </div>
        <div class="col-auto">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <div class="small mb-2 d-flex">
            <span class="text-muted flex-fill">نسبة التفرغ {{employeeParticipate.partialTimeRatio}}</span>
            <span class="text-muted">صفة المساهمة {{employeeParticipate.role}}</span>
          </div>
          <div class="progress" style="height: 2px;">
            <div class="progress-bar" role="progressbar" style="width: 25%" [ariaValueNow]="employeeParticipate.partialTimeRatio" aria-valuemin="0" aria-valuemax="60"></div>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" [routerLink]="['/tracks/project/',employeeParticipate.projectId,'employee',employeeParticipate.employeeId]" class="btn m-4 btn-sm btn-primary">استعراض متابعاتي به</button>
          <button type="button" [routerLink]="['/reports/contributions',employeeParticipate.projectId,'employee',employeeParticipate.employeeId]"  class="btn m-4 btn-sm btn-secondary">تقرير بمشاركتي</button>
        </div>
      </div>
    </div> <!-- / .card-body -->
  </div>