<div class="container-fluid" *ngIf="type">
    <div class="row justify-content-center">
      <div class="col-8 offset-2 ">
        <div class="card shadow">
          <div class="card-body">
            <div class="col-6 col-sm-12 text-center mb-4">
                <img src="/assets/images/users/4.jpg" class="navbar-brand-img brand-sm mx-auto mb-4" alt="...">
                
                <h3 class="mb-0 text-uppercase">{{type.typeName}}</h3>
              </div>
         
            </div>
            <hr>
            <div class="row  ml-4">
                <p><strong>الوصف</strong></p>
                <p> {{type.description}}</p>
                <p>عدد ساعات العمل المتوقعة لهذا النوع من المشاريع {{type.expectedEffort}}</p>
                <p>عدد العمال المتوقع لهذا النوع من المشاريع {{type.expectedNumberOfWorker}}</p>
                
                
            </div>
            <div class="row mb-4">

                <button   [disabled]="!canEdit()"  class="col-3 offset-1 m-4 btn btn-danger" (click)="openDeleteModal(type)">إزالة</button>
                <button  [disabled]="!canEdit()" class="col-3 offset-1 m-4 btn btn-primary" (click)="openEditModal(type)">تعديل</button>
                
            </div>
            
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->
      </div> <!-- /.col-12 -->
    </div>

