<div class="modal-header">
  <button type="button" class="mr-4 ml-4 btn-close" (click)="onClose()"></button>
  <h5 class="modal-title text-center">إضافة مرفق</h5>
</div>
<div class="modal-body">
  <form #form="ngForm" (ngSubmit)="onSubmit()" #projectForm="ngForm">
    <div class="row">
      <div class="mb-3 col-3 offset-1">
        <label for="attachmentName" class="form-label">اسم المرفق</label>
        <input
          type="text"
          name="attachmentName"
          id="attachmentName"
          class="form-control"
          placeholder="اسم المرفق"
          [(ngModel)]="item.attachmentName"
          required
        />
      </div>

      <div class="mb-3 col-7 ">
        <label for="attachmentDescription" class="form-label">الوصف</label>
        <textarea
          [cols]="4"
          id="attachmentDescription"
          class="form-control"
          [(ngModel)]="item.attachmentDescription"
          name="attachmentDescription"
         placeholder="الوصف"
          required
        >
        </textarea>
      </div>
      <div class="col-8 offset-1">
        <input type="file" name="file" 
        (change)="onFileSelected($event)"
        [(ngModel)]="item.file"  required />
      </div>
      
        <p-fileUpload 
        class="col-10  offset-1"
        [customUpload]="true"
        (uploadHandler)="onFileSelected($event)"
        [multiple]="false"
        
        maxFileSize="1000000"
        chooseLabel=" اختر ملف "
        uploadLabel=" تحميل "
        cancelLabel=" إلغاء "
        >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
        </p-fileUpload>

      </div>

      <div class="row">
      <button
        [disabled]="form.invalid"
        type="submit"
        class="m-4 col-3 btn btn-primary"
      >
        إضافة
      </button>
      <div class="btn m-4 btn-secondary col-3" (click)="onClose()">إغلاق</div>
    </div>
  </form>
</div>
