<div style="margin-bottom: 60px;" class="row gy-4 text-center  align-items-center  py-5 features-item">
          <div class="col-md-7 fst-italic">
            <h3>
	مرحبا بك في موقع إدارة حالة المشاريع
            </h3>
            <p class="fst-italic">
			 تابع مشاريعك بسهولة واستعرض ساعات عملك  
            </p>

            <p class="fst-italic">
              تابع المشاريع بكل أريحية
            </p>
          </div>
          <div class="col-md-5 d-flex align-items-center " >
            <img src="assets/images/home/features-1.png" class="img-fluid" alt="">
          </div>
        
        </div>