<header dir="ltr" id="header" class="header fixed-top d-flex align-items-center">
  <nav class="header-nav msi-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="fe fe-search"></i>
        </a>
      </li><!-- End Search Icon-->


      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
          <img src="assets/images/users/3.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{fullName}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Team Leader</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" [routerLink]="['/employees/profile']">
              <i class="fe fe-user"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
            
          <li>
            <button class="dropdown-item d-flex align-items-center" (click)="logout()">
              <i class="fe fe-log-out"></i>
              <span>Sign Out</span>
            </button>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->
 
  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="fe fe-search"></i></button>
    </form>
  </div><!-- End Search Bar -->


  <div class="d-flex align-items-center justify-content-between">
    <i class="fe fe-align-justify toggle-sidebar-btn pr-10"  (click)="toggleSidebar()"></i>

    <a href="index.html" class="logo d-flex align-items-center justify-content-evenly pl-10">
   
      <span class="d-none d-lg-block">نظام إدارة حالة المشاريع</span>
      <img src="assets/images/logo/logo.ico" alt="">

    </a>

  </div><!-- End Logo -->

</header><!-- End Header -->
