<div class="row align-items-center mb-4">
  <div class=" mb-4 text-center">
    <strong>معلومات المشروع</strong>
  </div>
  <div class="row">
    <div
      class="col-md-6 col-lg-4"
      [routerLink]="['/projects/', project.id,'steps']"
    >
      <div class="card shadow mb-4">
        <div class="card-body file-list">
          <div class="d-flex align-items-center">
            <div class="circle circle-md bg-secondary">
              <span class="fe fe-credit-card fe-16 text-white"></span>
            </div>
            <div class="flex-fill ml-4 fname">
              <strong>  المراحل</strong><br />
            </div>
          </div>
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow mb-4" [routerLink]="['/projects',project.id,'attachments']">
        <div class="card-body file-list">
          <div class="d-flex align-items-center">
            <div class="text-center">
              <div class="circle circle-md bg-secondary">
                <span class="fe fe-paperclip fe-16 text-white"></span>
              </div>
            </div>
            
            <div class="flex-fill ml-4 fname">
              <strong> المرفقات</strong><br />
            </div>
          </div>
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col -->
    <div
      class="col-md-6 col-lg-4"
      [routerLink]="['/projects/', project.id,'participants']"
    >
      <div class="card shadow mb-4">
        <div class="card-body file-list">
          <div class="d-flex align-items-center">
            <div class="circle circle-md bg-secondary">
              <span class="fe fe-map fe-16 text-white"></span>
            </div>
            <div class="flex-fill ml-4 fname">
              <strong>إدارة المشاركين</strong><br />
            </div>
          </div>
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card -->
    </div>
    <!-- .row -->
  </div>
  
  
  <div class="col-md-6 col-lg-4"
    (click)="onChangeManger()"
    *ngIf="canSee()"
    >
    
    <div class="card shadow mb-4">
      <div class="card-body file-list">
        <div class="d-flex align-items-center">
          <div class="circle circle-md bg-danger">
            <span class="fe fe-map fe-16 text-white"></span>
          </div>
          <div class="flex-fill ml-4 fname">
            <strong>تغيير مدير المشروع</strong><br />
          </div>
        </div>
      </div> <!-- .card-body -->
    </div> <!-- .card -->
  </div>

  <div class="col-md-6 col-lg-4" 
    *ngIf="canSee()"

    (click)="onChangeLeader()">
    <div class="card shadow mb-4">
      <div class="card-body file-list">
        <div class="d-flex align-items-center">
          <div class="circle circle-md bg-danger  ">
            <span class="fe fe-map fe-16 text-white"></span>
          </div>
          <div class="flex-fill ml-4 fname">
            <strong>تغيير رئيس الفريق</strong><br />
          </div>
        </div>
      </div> <!-- .card-body -->
    </div> <!-- .card -->
  </div>

</div>
