<section  *ngIf="spends" class="row">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                <h2 class="h3 mb-0 page-title">  قائمة خطة الانفاق </h2>
                </div>
            <div class="col-auto">
            <button type="button" (click)="openAddModal()" class="btn btn-primary"><span class="fe fe-file-plus fe-12 mr-2"></span>إضافة عنصر </button>
        </div>
   </div>
<hr>


  <financial-item class=" offset-2" 
    *ngFor="let item of spends" 
    [item]="item"
    (edit)="openEditModal(item)"
    (delete)="openDeleteModal(item)"
  >
  
  </financial-item>

    <div *ngIf="spends.length==0" class="text-center text-primary">
      <strong>

        للأسف هذا المشروع لايحوي على خطة انفاق
    
      </strong>
    
    </div>
    </div>
    </div>
</section>
<div class="modal   fade" id="projectModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5 class="modal-title" id="modalLabel">{{ modalTitle }}</h5>

        </div>
        <div class="modal-body">
          <!-- Edit Form -->
          <div *ngIf="modalMode === 'edit'">
            <form (ngSubmit)="saveProject()">
                <div class="row">
  
                    <div class="mb-3 col-5  offset-1">
                      <label for="stepName" class="form-label">نوع الكلفة</label>
                      <input type="text" name="stepName" id="stepName" class="form-control" [(ngModel)]="selectedItem.costType" required>
                    </div>
                    
                    <div class="mb-3 col-5">
                      <label for="expectedSpendingDate" class="form-label">تاريخ الانفاق المتوقع</label>
                      <input type="date" id="expectedSpendingDate" class="form-control" [(ngModel)]="selectedItem.expectedSpendingDate" name="expectedSpendingDate" required>
                    </div>
              
                  <div class="mb-3 col-4  offset-1">
                    <label for="local" class="form-label">الشراء المحلي</label>
                    <input  id="local" class="form-control" [(ngModel)]="selectedItem.localPurchase" name="local" required>
                  </div>
                  <div class="mb-3 col-4 ">
                    <label for="completion" class="form-label">الشراء الخارجي </label>
                    <input  id="completion" class="form-control" [(ngModel)]="selectedItem.externalPurchase.ammount" name="completion" required>
                  </div>
                  
                <div class="mb-3 col-2">
                  <label for="duration" class="form-label">نوغ القطع</label>
                  <select  id="duration" class="form-control select " [(ngModel)]="selectedItem.externalPurchase.currency" name="duration" required>
                    <option value="USA">USA</option>  
                    <option value="EUR">EUR</option>  
                  </select>
                </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-10 offset-1 " >
                      <label for="decription" class="form-label">البيان</label>
                      <textarea col="3" name="worker" id="decription" class="form-control" [(ngModel)]="selectedItem.description"  required>
                        </textarea>
                    </div>
                    </div>
                    <div class="row">

              

                </div>
                <button type="submit" class="btn btn-success">حفظ</button>
            </form>
          </div>
          <!-- Delete Confirmation -->
          <div *ngIf="modalMode === 'delete'">
            <p>هل أنت متأكد من أنك تريد حذف عنصر {{ selectedItem.costType }}?</p>
            <button type="button" class="btn m-4 btn-danger" (click)="delete()">إزالة</button>
            <button type="button" class="btn m-4 btn-secondary" data-bs-dismiss="modal">إلغاء</button>
          </div>
        </div>
      </div>
    </div>
  </div>