
<section class="row">
 <div class="row justify-content-center" *ngIf="!isDetailMode">
    <div class="col-12">
      <div class="row align-items-center my-4">
        <div class="col">
          <h2 class="h4 mb-0 page-title">قائمة المشاركين بالمشروع</h2>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openAddModal()"
          >
            <span class="fe fe-file-plus fe-12 mr-2"></span>إضافة مشارك
          </button>
        </div>
      </div>
      <hr />
      <item-skeleton class="col-3" *ngIf="!participants">

      </item-skeleton>
      
      <div class="row" *ngIf="participants" >
        <participant-item
          class="col-3"
          (selected)="onDetailMode(participant)"
          *ngFor="let participant of participants"
          [participant]="participant"
        ></participant-item>
      </div>
      <div *ngIf="participants.length == 0 && participants">
        للأسف هذا المشروع لايحوي على أية مشاركين
      </div>
    </div>
  </div>

  
  <div class="row" *ngIf="isDetailMode">
    <div class="card shadow mb-4 col-8 offset-2">
        <div class="card-header py-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="profile-posts.html" class="avatar avatar-md">
                <img src="./assets/images/users/4.jpg" alt="..." class="avatar-img rounded-circle">
              </a>
            </div>
            <div class="col ml-n2">
              <strong class="mb-1">المشارك {{selectedParticipant.employee.personalInfo | fullname}}</strong><span class=" ml-1"></span>
              <p class="small text-muted mb-1">صفة المساهمة {{selectedParticipant.role}}</p>
            </div>
            <div class="col-auto">
            </div>
          </div>
        </div>
        <div class="card-body ">
          <div class="row align-items-center">
            <div class="col-8 ">
              <div class="small mb-2 d-flex">
                <span class="text-muted flex-fill">الوظيفة / الهيئة {{selectedParticipant.employee.workInfo.workJob}} / {{selectedParticipant.employee.workInfo.workType}}</span>
                <span class="text-muted">نسبة التفرغ {{selectedParticipant.partialTimeRatio}}</span>
              
              </div>
            </div>
              
            <div class="col-10">
              <button type="button"   [routerLink]="['/projects',projectId,'history','participationChange',selectedParticipant.employeeId]"class="btn m-2 btn-sm btn-primary">استعراض تاريخ  تبدلاته </button>
              <button type="button" (click)="openUpdateModal()"  class="btn m-2 btn-sm btn-secondary">تعديل معلومات المشاركة</button>
              <button type="button" (click)="openDeleteModal()" class="btn m-2 btn-sm btn-danger">إزالة</button>
              <button type="button" [routerLink]="['/reports/contributions',selectedParticipant.projectId,'employee',selectedParticipant.employeeId]" class="btn  btn-sm btn-secondary">المساهمات</button>
              
            </div>
          </div>
        </div> <!-- / .card-body -->
      </div>
  </div>
</section>
