<section  *ngIf="participants" class="row">
    <add-participant-modal
    [projectId]="projectId"
    [paticipants]="participants"
    (participantAdded)="onParticipantAdded()"
    >
    
    </add-participant-modal>

    
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                <h2 class="h4 mb-0 page-title">  قائمة المشاركين بالمشروع </h2>
                </div>
            <div class="col-auto">
            <button type="button"  data-bs-toggle="modal" data-bs-target="#addParticipantModal" class="btn btn-primary"><span class="fe fe-file-plus fe-12 mr-2"></span>إضافة مشارك </button>
        </div>
   </div>
<hr>
   <div class="row">
    <participant-item class="col-3" *ngFor="let participant of  participants" [participant]="participant"></participant-item>
    </div>
    <div *ngIf="participants.length==0">
        للأسف هذا المشروع لايحوي على أية مشاركين
    </div>
    </div>
    </div>
</section>

